<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="google_sheet_credential_path" value=".\credentials_1.json"/>
		<add key="google_sheet_id" value="172Q7WKjCwMDoylz6z6uQ2YLshtU30A82tffGdMsPky4"/>
		<add key="google_sheet_sheet_name" value="Sheet1"/>
		<add key="google_sheet_data_range" value="Sheet1!A6:D316"/>
		<add key="google_sheet_total_range" value="Sheet1!G6:I6"/>
		<add key="google_sheet_attendance_range" value="Sheet1!E6:E317"/>
		<add key="google_sheet_update_range_offset" value="5"/>


		<add key="VAR_total_attendance_delay_time" value="1500"/>
		<add key="VAR_rjToggle_checking_status" value="0"/> <!--0:check-in ; 1: check-out-->

		<add key="path_image_error" value="./Images/logoDH.png"/>
		<add key="path_image_background" value="./Images/background.jpeg"/>
		<add key="path_images" value="./Images/ẢNH ĐẠI BIỂU/"/>
		<!--<add key="path_logo" value="./Logo"/>-->

	</appSettings>
</configuration>